<nav>
    <ul>
        <li><a href="/products/all">All Products</a></li>
        <li><a href="/products/nintendo">Nintendo</a></li>
        <li><a href="/products/micro">Xbox</a></li>
        <li><a href="/products/sony">PlayStation</a></li>
    </ul>
</nav>