<div id="form-popup">
    <form id="form-container">
        <h1>New Product</h1>
        <input id="prodName" type="text" placeholder="Name" name="prodName">
        <input id="prodDesc" type="text" placeholder="Description" name="prodDesc">
        <input type="text" name="imgUrl" id="imgUrl" placeholder="Image">
        <input type="number" name="price" id="price" placeholder="Price">
        <input type="number" name="catId" id="catId" placeholder="Category ID">
    </form>
</div>